<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key</key>
	<string>d050c84123c0ab45750e78c1f3e96706</string>
	<key>secret</key>
	<string>b7f4622bd792742b</string>
</dict>
</plist>
